<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-scale-pulse-out" [fullScreen]="true">
  <p style="color: white"> Yükleniyor.. </p>
</ngx-spinner>
  <aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
  id="sidenav-main">
<app-sidenav></app-sidenav>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
<app-nav></app-nav>
  <div class="container-fluid py-4">


    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3"></h6>
              <button type="button" class="btn bg-gradient-secondary mx-3 btn-lg btn-lg active" data-bs-toggle="modal"
                data-bs-target="#addModal">
                <i class=" material-icons library_add">library_add</i> Ürün Ekle </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <div class="row">

                <div class="card-body">
                  <div class="input-group input-group-outline my-3" style="width: 20%; margin-left: 80%;">
                    <label class="form-label">Aranacak Kelimeyi Yazın</label>
                    <input type="text" autocomplete="off" [(ngModel)]="searchString" class="form-control">
                  </div>
                </div>

                <div class="card-body px-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class=" text-uppercase text-secondary text-xm font-weight-bolder opacity-7">Ürün İd</th>
                          <th class=" text-uppercase text-secondary text-xm font-weight-bolder opacity-7">Ürün Adı</th>
                          <th class=" text-uppercase text-secondary text-xm font-weight-bolder opacity-7">Birim</th>
                          <th class=" text-uppercase text-secondary text-xm font-weight-bolder opacity-7">Oluşturulan Tarih
                          </th>
                          <th class=" text-uppercase text-secondary text-xm font-weight-bolder opacity-7">Not
                          </th>
                          <th class=" text-uppercase text-secondary text-xm font-weight-bolder opacity-7">İşlemler</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let urun of urunler | urunlerPipe: searchString " >
                          <td>
                            <div class="d-flex px-2 py-1">

                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{urun.id}}</h6>

                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm"><i class=text-success>Ürün Adı : </i>
                                {{urun.urunAdi}}</h6>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">
                                {{urun.birim}}</h6>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex flex-column justify-content-center">

                              <h6 class="mb-0 text-sm"><i class=text-secondary> Oluşturulan Tarihi: </i>
                                {{urun.olusturulanTarih |
                                date: 'dd.MM.yyyy'}}</h6>
                            </div>
                          </td>

                          <td>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">
                                {{urun.not}}</h6>


                            </div>
                          </td>
                          <td class="align-middle">
                            <button type="button" class="btn btn-warning btn-ml mx-2" title="Güncelle"
                            (click)="getUrun(urun.id)">
                              <i class="material-icons opacity-10" data-bs-toggle="modal"
                                data-bs-target="#updateModal">edit</i>
                            </button>

                            <button type="button" [swal]="deleteSwal" (confirm)="deleteUrunler(urun.id)"
                              class="btn btn-primary btn-ml" title="Sil" (click)="currentUrun(urun)" >
                              <i class="material-icons opacity-10">restore_from_trash</i>
                            </button>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <swal #deleteSwal title="Sil?" text="Ürünü silmek istiyor musunuz ?" type="question" [showCancelButton]="true"
          [focusCancel]="true" [swalOptions]="{ confirmButtonText: 'Sil' }"></swal>
      </div>
    </div>
  </div>



    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Ürün Ekleme Formu</h5>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addForm">
            <div class="row">
              <div class="col-md-6">
                <div [class]="changeInputClass(ekleyenKullaniciFk)">
                  <label class="form-label">Ekleyen Kullanıcı</label>
                  <input type="text" formControlName="ekleyenKullaniciFk" [(ngModel)]="ekleyenKullaniciFk"
                  class="form-control">
                </div>
                <div [class]="changeInputClass(urunAdi)">
                  <label class="form-label">Ürün Adı</label>
                  <input type="text" formControlName="urunAdi" [(ngModel)]="urunAdi"
                    class="form-control">

                </div>
                <div [class]="changeInputClass(birim)">
                  <label class="form-label">Birim</label>
                  <input type="text" formControlName="birim" [(ngModel)]="birim"
                    class="form-control">
                </div>

                <div>
                  <label class="form-label">Oluşturulan Tarih</label>
                  <input type="date" formControlName="olusturulanTarih" [(ngModel)]="olusturulanTarih"
                    class="form-control">
                </div>
                <div [class]="changeInputClass(not)">
                  <label class="form-label">Not</label>
                  <input type="text" formControlName="not" [(ngModel)]="not"
                    class="form-control">
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-primary" (click)="saveUrun()">Ürün Ekle</button>
          <button type="button" class="btn bg-gradient-secondary" id="closeCurrencyAccountModal"
            data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div>
  </div>


   <!-- Modal -->
   <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Ürün Güncelleme Formu</h5>
         <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form [formGroup]="updateForm">
           <div class="row">
             <div class="col-md-6">
              <div class="input-group input-group-dynamic mb-4">
                 <input type="text" formControlName="ekleyenKullaniciFk" [(ngModel)]="ekleyenKullaniciFk" class="form-control">
                 <span class="input-group-text" id="basic-addon2">Ekleyen Kullanıcı</span>
               </div>

               <div class="input-group input-group-dynamic mb-4">
                 <input type="text" formControlName="urunAdi" [(ngModel)]="urunAdi"
                   class="form-control">
                   <span class="input-group-text" id="basic-addon2">Ürün Adı</span>
               </div>

               <div class="input-group input-group-dynamic mb-4">
                 <input type="text" formControlName="birim" [(ngModel)]="birim"
                   class="form-control">
                   <span class="input-group-text" id="basic-addon2">Birim</span>
               </div>

               <div>
                 <label class="form-label">Oluşturulan Tarih</label>
                 <input type="date" formControlName="olusturulanTarih" [(ngModel)]="olusturulanTarih"
                   class="form-control">

               </div>
               <div class="input-group input-group-dynamic mb-4">

                 <input type="text" formControlName="not" [(ngModel)]="not"
                   class="form-control">
                   <span class="input-group-text" id="basic-addon2">Not</span>
               </div>
             </div>

           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn bg-gradient-primary" (click)="updateUrun()">Ürün Güncelle</button>
         <button type="button" class="btn bg-gradient-secondary" id="closeCurrencyAccountModal"
           data-bs-dismiss="modal">Kapat</button>
       </div>
     </div>
   </div>
 </div>



</main>

